.flex-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  border-top: 2px solid #9000ff;
  justify-content: center;
  align-items: center;

  &>.inner-container {
    display: flex;
    height: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;

    &>.social-icons {
      display: flex;
      gap: 18px;

      a {
        border: solid 2px #fff;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: borderContent 3s ease-in-out infinite;

        img {
          max-width: 20px;
        }
      }

      a:nth-child(1) {
        animation-delay: 0s;
      }
      
      a:nth-child(2) {
        animation-delay: 0.5s;
      }
      
      a:nth-child(3) {
        animation-delay: 1s;
      }
      
      a:nth-child(4) {
        animation-delay: 1.5s;
      }
      
      a:nth-child(5) {
        animation-delay: 2s;
      }
      
      @keyframes borderContent {
        0% {
          border-color: #fff;
        }
      
        50% {
          border-color: #9000ff;
        }
      
        100% {
          border-color: #fff;
        }
      }
    }
  }

  &>.text-name {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
  }
}