.main-header {
    width: 100%;
    color: #F2BD0C;
    font-weight: 300;
    margin-top: 30px;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 4px;
}




@media screen and (max-width: 430px) {
    .main-header {
        margin-top: 70px;
    }
}