.main-sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
    font-size: 1rem;
    position: relative;
    align-items: center;
    letter-spacing: 3px;
    flex-direction: column;
    justify-content: center;

    span {
        bottom: 100px;
        font-size: 3rem;
        cursor: pointer;
        position: absolute;
        animation: arrow 2s infinite;
    }

    .container-info-sobre {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        .container-name {
            width: 360px;
            height: 500px;
            display: flex;
            padding: 30px 20px;
            border-radius: 5px;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: center;
            background-color: #1D1D1D;

            div {
                width: 100%;
                text-align: start;
            }

            .line {
                height: 1px;
                margin: 30px 0;
                background-color: rgba(209, 209, 209, 0.103);
            }

            .name {
                display: flex;
                flex-direction: column;

                div:nth-child(1) {
                    color: #ffffff;
                    font-size: .7rem;
                    font-weight: 300;
                    margin-bottom: 7px;

                }

                div:nth-child(2) {
                    color: #F2BD0C;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }

            .sobre-mim {
                div:nth-child(1) {
                    font-weight: 900;
                    font-size: .8rem;
                    margin-bottom: 7px;
                }

                div:nth-child(2) {
                    color: #cccccc;
                    font-weight: 300;
                }

            }

        }

        .container-contact-skill {
            display: flex;
            margin-left: 20px;
            flex-direction: column;

            .container-contact {
                width: 500px;
                width: 100%;
                display: flex;
                margin-bottom: 10px;
                flex-direction: row;
                justify-content: space-between;

                a {
                    padding: 20px 15px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    box-sizing: border-box;
                    justify-content: center;
                    background-color: #1D1D1D;

                    img {
                        max-width: 80%;
                    }
                }
            }

            .container-skills {
                width: 500px;
                height: 200px;
                padding: 30px;
                display: flex;
                flex-wrap: wrap;
                border-radius: 5px;
                align-items: center;
                background-color: #1D1D1D;
                justify-content: space-between;


                .content-skill {
                    width: 116px;
                    height: 20px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    font-size: .8rem;
                    border-radius: 100px;
                    justify-content: center;
                    background-color: #313131;

                    img {
                        max-width: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }

    }
}

@keyframes arrow {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }

}

@media screen and (max-width: 976px) {
    .main-sobre {
        margin-bottom: 200px;
        margin-top: 200px;

        span {
            display: none;
        }

        .container-info-sobre {
            width: 90%;

            .container-name {
                width: 100%;
                margin-bottom: 30px;
            }

            .container-contact-skill {
                width: 100%;
                margin: 0;

                .container-contact {
                    width: 100%;
                    margin: 10px 0;
                }

                .container-skills {
                    width: 100%;
                    padding: 0;
                    height: 100%;

                    .content-skill {
                        width: 200px;
                        margin: 30px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 622px) {
    .main-sobre {
        margin-top: 100px;
        margin-bottom: 200px;

        .container-skills {
            .content-skill {
                width: 120px !important;
                margin: 0 !important;
                font-size: .7rem !important;
                height: 20px !important;
                margin-top: 20px !important;
                margin-bottom: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-sobre {
        margin-top: 200px;

        .container-name {
            .sobre-mim {
                div:nth-child(2) {
                    font-size: .8rem;
                }
            }
        }

        .container-contact {
            a {
                padding: 10px 5px !important;
            }
        }
    }
}



@media screen and (max-width: 382px) {
    .main-sobre {
        margin-top: 100px;

        .container-name {
            .name{
                div:nth-child(2){
                    font-size: 1rem !important;
                }
            }
            .sobre-mim {
                div:nth-child(2) {
                    font-size: .8rem;
                }
            }
        }

        .content-skill {
            padding: 0px !important;
        }
    }
}