@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");

.text {
  font-family: "Bebas Neue", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.antonia {
  font-family: "Antonio", sans-serif;
}

.borderAnimation {
  border: 2px solid #38075e;
  animation: border 2s infinite ease-in-out;
}

.colorAnimation {
  animation: color 2s infinite ease-in-out;
}

.borderAnimation {
  animation: border 2s infinite ease-in-out;
}

@keyframes border {
  0% {
    border: 2px solid #38075e;
  }
  50% {
    border: 2px solid #9000ff;
  }
  100% {
    border: 2px solid #38075e;
  }
}


@keyframes color {
  0% {
    color: #38075e;
  }
  50% {
    color: #9000ff;
  }
  100% {
    color: #38075e;
  }
}

.iosRainbow{
  border: solid 3px #9000ff ;
}

.rainbow {
  --border-size: 0.3rem;
  border: var(--border-size) solid transparent;
  border-image: conic-gradient(
      from var(--angle),
      #9000ff 0deg 90deg,
      #38075e 90deg 180deg,
      #9000ff 180deg 270deg,
      #38075e 270deg 360deg
    )
    1 stretch;
  background: rgb(255 255 255 / var(--opacity));
}

@supports (background: paint(houdini)) {
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .rainbow {
    animation: rotate 4s linear infinite;
  }
  
}
