.main-navbar {
    top: 0;
    right: 0;
    z-index: 3;
    width: 90px;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .7s ease-in-out;
    border-bottom-left-radius: 60%;
    background-color: rgb(61, 61, 61);

    .line-bars {
        top: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
        position: absolute;
        flex-direction: column;


        div {
            margin-bottom: 10px;
            width: 100%;
            height: 2px;
        }

        div:nth-child(1) {
            background-color: #fff;

        }

        div:nth-child(2) {
            background-color: rgba(255, 255, 255, 0.548);

        }

        div:nth-child(3) {
            background-color: rgba(255, 255, 255, 0.226);

        }
    }

    .icons-nav {
        width: 50%;
        opacity: 0;
        height: 40%;
        display: none;
        flex-direction: column;
        transition: .4s ease-in-out;
        justify-content: space-between;
   
    }
}