.mainConainerProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .textTile {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }

  .containerMainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;

    .pagination {
      @media (max-width: 1142px) {
        margin-top: 20px;
      }
    }

    .containerCard {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1142px) {
        width: 90%;
        justify-content: center;
        gap: 10px;
      }

      @media (max-width: 912px) {
        justify-content: center;
      }

      @media (max-width: 414px) {
        width: 100%;
        justify-content: center;
      }

      .my-custom-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        justify-content: center;
        background-color: #0a0a0d;
        width: 400px;
        height: 500px;
        border-radius: 5px;
        margin-bottom: 50px;

        @media (max-width: 1142px) {
          margin-bottom: 0px;
        }

        @media (max-width: 912px) {
          width: 70%;
        }

        @media (max-width: 414px) {
          width: 90%;
        }

        .my-custom-image-wrapper {
          width: 100%;
          height: 230px;
          background: #0f0f14fb;

          .my-custom-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .my-custom-info-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2px;

          .my-custom-title {
            font-size: 1.6rem;
            color: #fff;
            text-align: center;
            margin-top: 13px;
          }

          .my-custom-icons {
            display: flex;
            width: 60px;
            gap: 10px;
            justify-content: center;
          }
        }

        /* Estilos da descrição */
        .my-custom-description {
          width: 100%;
          font-size: 1.3rem;
          color: #fff;
        }

        .my-custom-skills-title {
          color: #fff;
          font-weight: 700;
          font-size: 2rem;
          width: 100%;
          margin-top: 30px;
        }

        .my-custom-skills {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .my-custom-skill {
            font-weight: 600;
            background-color: #210936;
            font-size: 0.8rem;
            padding: 4px 18px;
            color: #fff;
            border-radius: 100px;
            margin-right: 12px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
