.mainContainerHome {
  position: relative;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 0;
  background-image: linear-gradient(315deg,
      hsl(274deg 86% 20%) 19%,
      hsl(273deg 78% 18%) 31%,
      hsl(272deg 71% 15%) 34%,
      hsl(272deg 64% 13%) 37%,
      hsl(276deg 63% 10%) 42%,
      hsl(282deg 72% 6%) 47%,
      hsl(277deg 100% 3%) 53%,
      hsl(276deg 100% 2%) 60%,
      hsl(275deg 100% 2%) 67%,
      hsl(274deg 100% 2%) 74%,
      hsl(273deg 100% 2%) 83%,
      hsl(272deg 100% 2%) 91%,
      hsl(0deg 0% 0%) 100%);

  @media (max-width: 800px) {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .containerHomeContent {
    width: 50%;
    display: flex;
    padding-left: 120px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;

    .container-links {
      display: flex;
      gap: 10px;

      a {
        background-color: #660cac;
      }
    }

    @media (max-width: 1140px) {
      max-width: 1140px;
      padding-left: 30px;
    }

    @media (max-width: 940px) {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }

  }

  .continerInfo {
    display: flex;
    height: 100%;

    @media (max-width: 800px) {
      width: 100vw;
    }

    .containerImg {
      width: 50%;
      display: flex;
      align-items: center;

      @media (max-width: 1374px) {
        justify-content: center;
      }

      @media (max-width: 940px) {
        display: none;
      }

      .imageMobile {
        max-width: 80%;
        margin-left: 120px;

        @media (max-width: 1374px) {
          margin-left: 0;
        }

        @media (max-width: 1140px) {
          max-width: 100%;
        }
      }
    }

    .containerTitle {
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 1374px) {
        height: 195px;
      }
      @media (max-width: 414px) {
        height: 190px;
      }

      .firstChildText {
        color: #fff;
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: -30px;
        width: 800px;

        @media (max-width: 1374px) {
          font-size: 3.6rem;
        }

        @media (max-width: 1016px) {
          font-size: 3rem;
          margin-bottom: -18px;
        }

        @media (max-width: 940px) {
          text-align: center;
        }

        @media (max-width: 414px) {
          font-size: 2rem;
          letter-spacing: 2px;
          margin-bottom: -8px;
          width: 100vw;
        }

        @media (max-width: 800px) {
          width: 100vw;
        }
      }

      .secondChildText {
        color: #fff;
        font-size: 5rem;
        font-weight: bold;
        display: flex;
        gap: 8px;
        text-align: center;
        margin-bottom: -30px;
        width: 800px;

        @media (max-width: 1374px) {
          font-size: 3.6rem;

        }

        @media (max-width: 1016px) {
          font-size: 3rem;
          margin-bottom: -18px;
        }

        @media (max-width: 940px) {
          text-align: center;
          justify-content: center;
        }

        @media (max-width: 414px) {
          font-size: 2rem;
          margin-bottom: -8px;
          width: 100vw;
        }

        @media (max-width: 800px) {
          width: 100vw;
        }


        .animated {
          animation: colorText 3s ease-in-out infinite;
        }

        @keyframes colorText {
          0% {
            color: #38075E;
          }

          50% {
            color: #9000ff;
          }

          100% {
            color: #38075E;
          }
        }

        @media (max-width: 1374px) {
          font-size: 3.6rem;

        }

        @media (max-width: 1016px) {
          font-size: 3rem;
          margin-bottom: -18px;
        }

        @media (max-width: 940px) {
          text-align: center;
          justify-content: center;
        }

        @media (max-width: 414px) {
          font-size: 2rem;
          letter-spacing: 2px;
          margin-bottom: -8px;
          width: 100vw;
        }

        @media (max-width: 800px) {
          width: 100vw;
        }
      }


    }

    .lastChildText {
      color: #fff;
      font-size: 1.2rem;
      display: flex;
      gap: 2;
      height: 60px;
      letter-spacing: 2px;
      width: 700px;


      @media (max-width: 880px) {
        text-align: center;
      }

      @media (max-width: 1412px) {
        width: 514px;
      }

      @media (max-width: 562px) {
        font-size: 1rem;
        letter-spacing: 0;
        width: 80%;
        height: 90px;
        text-align: center;
      }
    }
  }
}